<% content_for :seo_tags do %>
  <title>Home Physical Therapy NYC | Mobile Physical Therapy NYC</title>
  <meta name="description" content="An on-demand home physiotherapy service in the 5 Boroughs of New York. You can book an appointment online with our experienced practitioners: Fernando Moreno, Joseph Gendy, Alina Prescornita, Gina Williams, Stavros Vouyioklis, Jon Jezequel, Veronica Cherne, Ben Augustine, Joel Jezequel, Shi Feng Lin, and Dave Kittle.">
<% end %>

<%= render 'visitors/header' %>

<%= render 'visitors/introduction' %>

<%= render 'visitors/how_does_it_work' %>

<%= render 'visitors/book_online' %>

<% if Practitioner.count > 0 %>
  <%= render 'visitors/team' %>
<% end %>

<%= render 'visitors/pricing' %>

<%= render 'visitors/search_local' %>

<% if Blog.count > 0 %>
  <%= render 'visitors/blog' %>
<% end %>

<%= render 'visitors/careers', section_class: 'bg-white-liac' %>

<%= render 'visitors/software' %>

<%= render 'visitors/footer' %>
